.navbar{
    background-color: rgb(108,172,197) !important;
    box-shadow: none !important;
}

.navbar-brand{
    padding: left 20px !important;
}

.rounded-search-bar {
    border-radius: 25px !important;
    width: 400px !important;
    padding-right: 40px !important;
  }
.btn-outline-warning{
    color: black !important;
    outline-color: black !important;
    outline-style: round !important;
}

.footer{
    padding: 2px !important;
    margin: 0 !important;
    height: 4rem;
}

.footer-bg{
    background-color: rgb(88, 186, 224) !important;

}

.category{
    display: flexbox;
    height: 800px;
}